---
- name: Install and Configure LAMP Stack (Ubuntu & Amazon Linux)
  hosts: lamp
  become: yes

  tasks:
    # Ubuntu
    - name: Update apt cache (Ubuntu)
      apt:
        update_cache: yes
      when: ansible_facts['os_family'] == "Debian"

    - name: Install LAMP packages (Ubuntu)
      apt:
        name:
          - apache2
          - mysql-server
          - php
          - php-mysql
        state: present
      when: ansible_facts['os_family'] == "Debian"

    - name: Start Apache (Ubuntu)
      service:
        name: apache2
        state: started
        enabled: yes
      when: ansible_facts['os_family'] == "Debian"

    # Amazon Linux
    - name: Install LAMP packages (Amazon Linux)
      yum:
        name:
          - httpd
          - php
          - php-mysqlnd
          - mariadb105-server
        state: present
      when: ansible_facts['os_family'] == "RedHat"

    - name: Start Apache (Amazon Linux)
      service:
        name: httpd
        state: started
        enabled: yes
      when: ansible_facts['os_family'] == "RedHat"

    - name: Start MariaDB (Amazon Linux)
      service:
        name: mariadb
        state: started
        enabled: yes
      when: ansible_facts['os_family'] == "RedHat"

    # Common
    - name: Create PHP info page
      copy:
        dest: /var/www/html/myinfo.php
        content: "<?php phpinfo(); ?>"
